* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
    height: 100vh;
    background-color: rgba(217, 219, 212, 1);
    background-image: linear-gradient(to bottom, rgba(0, 150, 136, 1) 0%, rgba(0, 150, 136, 1) 10%, rgba(217, 219, 212, 1) 10%, rgba(217, 219, 212, 1) 100vh);
}

.boolzapp-window {
	height: 90vh;
}

.main-user, .interlocutor, .chat-bottom {
	background-color: lightgray;
}

.users-icons i, .interlocutor-right i {
	color: dimgray;
}

.main-user_pic img {
	width: 15%;
}

.notifications {
	background-color: darkturquoise;
}

.bell-icon {
	height: 40px;
	width: 40px;
}

.bell-icon i {
	color: darkturquoise;
	font-size: 18px;

}

.notifications-text h6,p {
	font-size: 12px;
}

.other-user {
	width: 100%;
	border-bottom: 1px solid gray;
}

.other-user-left {
	width: 20%;
}

.other-user_pic img {
	width: 70%;
}

.other-user-middle {
	width: 60%;
}

.other-user-middle p {
	color: gray;
}

.other-user-right {
	width: 20%;
	text-align: right;
	color: gray;
}

.chat-section {
	width: 100%;
}

.interlocutor {
	width: 100%;
	border-left: 1px solid gray;
}

.interlocutor-left {
	width: 10%;
}

.interlocutor-pic {
	width: 10%;
}

.interlocutor_pic img {
	width: 90%;
}

.interlocutor-middle {
	width: 75%;
}

.interlocutor-right {
	width: 15%;
}

.messages {
	/*imposto un altezza fissa SOLO per farmi un idea di quanto spazio dovrà occupare il div dialogue*/
	height: 800px;
	background-image: url(../img/mine.jpg);
	display: flex;
    flex-direction: column;
}

.sent {
    align-self: flex-end;
    background-color: #dcf8c6;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    max-width: 60%;
}

.received {
    align-self: flex-start;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    max-width: 60%;
}

.sent span, .received span {
    display: block;
    font-size: 12px;
    color: #888;
}


.chat-bottom {
	width: 100%;
}

.chat-bottom-left, .chat-bottom-right {
	width: 10%;
}

.chat-bottom-middle {
	width: 80%;
}