* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
    height: 100vh;
    background-color: rgba(217, 219, 212, 1);
    background-image: linear-gradient(to bottom, rgba(0, 150, 136, 1) 0%, rgba(0, 150, 136, 1) 10%, rgba(217, 219, 212, 1) 10%, rgba(217, 219, 212, 1) 100vh);
}

.boolzapp-window {
	height: 90vh;
}

.user-section {
	background-color: red;
	height: 9;
}

.user-profile_img {
	width: 100%;
}

.user-profile_img img {
	width: 15%;
}

.notifications {
	background-color: darkturquoise;
}

.bell-icon {
	height: 40px;
	width: 13%;
}

.bell-icon i {
	color: darkturquoise;
	font-size: 18px;

}

.notifications-text h6,p {
	font-size: 12px;
}

.blue {
	background-color: blue;
}