<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex  mt-3 bg-white">
                    <!--Suddivido il container in due col-->
                    <div class="col-4">
                        <!--Nella user section inserirò tutti i div che hann che fare con gli utenti di boolzapp-->
                        <div class="user-section">
                            <!--Questo div a che fare con il main-user, ovvero Sofia in questo caso-->
                            <div class="main-user w-65 py-2 d-flex align-items-center">
                                <div class="main-user_pic ms-1 d-flex align-items-center">
                                    <img src="./img/avatar_io.jpg" class="rounded-circle" alt="main_user">
                                    <h6 class="ms-1">Sofia</h6>
                                </div>
                                <div class="users-icons w-25 d-flex justify-content-evenly align-items-center">
                                    <i class="fa-solid fa-circle-notch"></i>
                                    <i class="fa-solid fa-message"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                            <!--div contenente le opzioni sulle notifiche-->
                            <div class="notifications py-2 d-flex align-items-center">
                                <div class="bell-icon rounded-circle bg-white ms-1 d-flex justify-content-evenly align-items-center">
                                    <i class="fa-regular fa-bell-slash"></i>
                                </div>
                                <div class="notifications-text ms-3">
                                    <h6>Ricevi notifiche di nuovi messaggi</h6>
                                    <p><a href="">Attiva notifiche desktop</a></p>
                                </div>
                            </div>
                            <!--div contenente la barra della ricerca-->
                            <div class="src-user">
                                <nav class="navbar bg-light">
                                    <form class="container-fluid">
                                      <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </span>
                                        <input type="search" class="form-control" placeholder="Cerca o inizia nuova chat" aria-label="Username" aria-describedby="basic-addon1">
                                      </div>
                                    </form>
                                </nav>
                            </div>
                            <!--div contenente la lista degli altri utenti-->
                            <div class="users-list">
                                <!--Imposto un v-for che crea un elemento nuovo tanti quanti gli oggetti dell'array "contatcs""-->
                                <div v-for="(contact, index) in contacts" :key="index" @click="selectContact(index)" class="{ active: activeContact === index } other-user d-flex">
                                    <div class="other-user-left">
                                        <div class="other-user_pic">
                                            <img :src="contact.avatar" class="rounded-circle" :alt="contact.name">
                                        </div>
                                    </div>
                                    <div class="other-user-middle">
                                        <h6 class="ms-1">{{ contact.name }}</h6>
                                        <p>{{ contact.laText }}</p>
                                    </div>
                                    <div class="other-user-right me-1">{{ contact.laHours }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <!--Questo div conterrà tutta la sezione chat-->
                        <div class="chat-section" v-if="activeContact !== null">
                            <!--div dedicato all'interlocutore-->
                            <div class="interlocutor d-flex align-items-center py-1">
                                <div class="interlocutor-left">
                                    <!--Questo div conterrà l'immagine profilo dell'utente interlocutore-->
                                    <div class="interlocutor_pic ms-1 d-flex align-items-center">
                                        <img :src="contacts[activeContact].avatar" class="rounded-circle" alt="Avatar">
                                    </div>
                                </div>
                                <div class="interlocutor-middle">
                                    <h6 class="ms-1">{{ contacts[activeContact].name }}</h6>
                                    <p>{{ contacts[activeContact].laText }}</p>
                                </div>
                                <div class="interlocutor-right d-flex justify-content-evenly align-items-center">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                            <!--div dedicato al dialogo tra utetnti-->
                            <div class="messages" v-if="activeContact !== null">
                                <!-- Itera attraverso i messaggi del contatto selezionato -->
                                <div v-for="(message, index) in contacts[activeContact].messages" :key="index" :class="message.status">
                                    <!-- commento il div seguente perché volevo mostrare l'avatar dell'interlocutore, ma poi mi sono reso conto che ciò ha senso se il contatto selezionato fosse un GRUPPO whatsapp!
                                    <img v-if="message.status === 'received'" :src="contacts[activeContact].avatar" class="rounded-circle d-inline" alt="Avatar">
                                    -->
                                    <!-- Testo del messaggio -->
                                    <p class="d-inline ms-1">{{ message.message }}</p>
                                    <!-- Data del messaggio -->
                                    <span>{{ message.date }}</span>
                                </div>
                            </div>
                            <!--div dedicato all'invio dei messggi da parte del main-user (Sofia)-->
                            <div class="chat-bottom d-flex justify-content-evenly align-items-center">
                                <div class="chat-bottom-left d-flex justify-content-evenly align-items-center">
                                    <i class="fa-regular fa-face-smile"></i>
                                </div>
                                <div class="chat-bottom-middle py-1">
                                    <input class="w-100" type="text" placeholder="Scrivi un messaggio">
                                </div>
                                <div class="chat-bottom-right d-flex justify-content-evenly align-items-center">
                                    <i class="fa-solid fa-microphone"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>
</html>